.onModal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.onModal button{
    width: 20%;
    background-color: rgb(82, 227, 123);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    padding: 15px 0px;
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.onModal button:hover{
    border: 2px solid rgb(100, 245, 231);
    box-shadow: 0 0 10px rgb(100, 245, 231);
    color: white;
}

.offModal{
    display: none;
}

.onModal h2{
    color: rgb(82, 227, 123);
    padding-top: 45px;
}

.data{
    padding: 0 2%;
}

.data h3{
    color: rgb(100, 245, 231);
    text-align: center;
    word-break: break-all;
    white-space: pre-wrap;
}

.data h3:not(:first-of-type){
    padding-top: 12px;
}

span{
    color: rgb(82, 227, 123);
}

@media screen and (max-width: 360px){
    .onModal button{
        width: 50%;
    }
}